extends base.pug

block scripts
    script(src = "../static/index.js")

block style
    style 
        include ../static/styleAbout.css

block content 
    section
        h1 About Us
        p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dicta, error optio nesciunt exercitationem mollitia ut veniam modi voluptas voluptatum accusantium aut vero autem facere, dolores inventore amet, commodi ipsam. Numquam.