@import "bourbon";

.wrapper {
  margin-top: 80px;
  margin-bottom: 80px;
}

.form-signin {
  max-width: 380px;
  padding: 15px 35px 45px;
  margin: 0 auto;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  align-content: center;
}

.form-signin-heading,
.checkbox {
  margin-bottom: 30px;
  position: static;
  align-self: center;
}
.checkbox {
  font-weight: normal;
}

.form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
}
input[type="text"] {
  margin-bottom: -1px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

input[type="password"] {
  margin-bottom: 20px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

header h1 {
  text-align: center;
  font-size: 40px;
  color: white;
}

header {
  padding: 40px;
  background-color: rgb(17, 124, 143);
}

nav {
  background-color: #333;
  overflow: hidden;
}

nav a {
  text-decoration: none;
  padding: 20px;
  text-align: center;
  float: left;
  color: white;
}

main {
  background-color: white;
  text-align: center;
}

h2 {
  padding: 20px;
}

section:nth-child(even) {
  background-color: rgb(241, 241, 241);
}

section {
  min-height: 100vh;
}

video {
  padding: 10px;
}

iframe {
  height: 75vh;
}

img {
  padding: 10px;
}

section h5 {
  margin: 40px;
}

footer {
  background-color: #333;
  overflow: hidden;
}

footer a {
  text-decoration: none;
  padding: 20px;
  text-align: center;
  float: left;
  color: white;
}
